body{
    color: black;
    font-family:'Indie Flower', cursive;
}

h1 {
    color: hotpink;
}

h2 {
    font-size: 36px;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.lead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron {
    padding: 4px;
    text-align: center;
}

.crystals {
    border: 4px inset silver;
    height: 200px;
    margin: 20px;
}

.col-md-4 {
    border: 2px solid black;
}